<!DOCTYPE html> 
<html>
<head>
    <title> Website </title>
    <link rel="stylesheet" href="bingbongurpoopisgone.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
    

</head>

<body>
    <h1> Hello. </h1>
    <h2>Life isn't too poggers at the moment</h2>
<<<<<<< HEAD
    <h3>But yours probably isn't either, so I have no right to complain ;></h3>
    <p> Help what this do(test)</p>
    
=======
    <h3>But yours probably isn't either, so I have no right to complain ;> </h3>
    <h6> Ah yes, the pc with no git. </h6>
>>>>>>> bf54c36426866f5c5a6c8b0fbfa8683d7e3cdcf6
  



</body>

















</html>
