<!DOCTYPE html> 
<html>
<head>
    <title> Website </title>
    <link rel="stylesheet" href="bingbongurpoopisgone.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
    

</head>

<body>
    <h1> Hello. </h1>
    <h2>Life isn't too poggers at the moment</h2>
    <h3>But yours probably isn't either, so I have no right to complain ;></h3>
  



</body>

















</html>
