h1 {
    font-size: 900;
    text-align: center;
    font-family: 'Mochiy Pop P One';
    
}
h2 {
    font-size: 750;
    text-align: center;
    font-family: 'Mochiy Pop P One';
    
}
h3 {
    font-size: 600;
    text-align: center;
    font-family: 'Mochiy Pop P One';
    
}