h1 {
    font-size: 900;
    text-align: center;
    font-family: 'Mochiy Pop P One';
    
}
h2 {
    font-size: 750;
    text-align: center;
    font-family: 'Mochiy Pop P One';
    
}
h3 {
    font-size: 600;
    text-align: center;
    font-family: 'Mochiy Pop P One';
    
}
body {
    background-image: ("https://r.search.yahoo.com/_ylt=AwrEzOA4MwhiEJkAwhGJzbkF;_ylu=c2VjA3NyBHNsawNpbWcEb2lkAzM4Njg0MTZkZjgzZjI0ZmE2ZTU3YWNlYTFkM2U2NDhkBGdwb3MDNARpdANiaW5n/RV=2/RE=1644733368/RO=11/RU=https%3a%2f%2fhypixel-skyblock.fandom.com%2fwiki%2fRuins/RK=2/RS=VyZQRa_l95RRDiaj5dZwLH1lcls- ")
}
